<?xml version = "1.0" encoding = "UTF-8"?>
<!-- 
	 The Beans.xml is used to assign unique IDs to different beans
	 and to control the creation of objects with different values without 
	 impacting any of the Spring source files. For example, using the following
	 file you can pass any value for "message" variable and you can print different 
	 values of message without impacting HelloWorld.java and MainApp.java files.
	 
-->



<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <!-- Declare beans here using <bean> tag -->

</beans>