<!--The content below is only a placeholder and can be replaced.-->
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
  enabled. Please enable
  Javascript and reload this page!</h2></noscript>
<div id="main-content">

    <div class="wrapper">
      <app-navbar></app-navbar>

      <div class="col-md-10">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="onCollapse()">
          <i class="fas fa-align-left"></i>
        </button>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
  </div>
